<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Moderatie</title>

    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fontawesome.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/templatemo-style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/owl.css') }}">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="/">NS-Twitterzuil</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Moderatiepagina</h1>
                    <p>Op deze moderatiepagina kan u in de eerste tabel revews goed of afkeuren. Er is een moderatorbot (zie voorkeuren) die op scheldwoorden filtert en u daarbij helpt.<br/>
                    De tweede tabel geeft een overzicht van de 5 beoordeelde reviews (van de moderator en de gebruiker)</p>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Tables -->
            <section class="tables">
              <form id="keuze" action="/submit" method="post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="alternate-table">
                      <table>
                        <thead>
                          <tr>
                            <th>Accepteer</th>
                            <th>Wijs af</th>
                            <th>Titel</th>
                            <th>Review</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if regels>=1 %}
                          <tr>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze1" type="radio" id="Keuze1.1" value="1.1" checked>
                                <label for="Keuze1.1">Accepteer</label>
                              </div>
                            </div>
                            </td>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze1" type="radio" id="Keuze1.2" value="1.0">
                                <label for="Keuze1.2">Wijs af</label>
                              </div></td>
                            <td>{{gegevens[0][0]}}</td>
                            <td>{{gegevens[0][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels>=2 %}
                          <tr>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze2" type="radio" id="Keuze2.1" value="2.1" checked>
                                <label for="Keuze2.1">Accepteer</label>
                              </div>
                            </div>
                            </td>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze2" type="radio" id="Keuze2.2" value="2.0">
                                <label for="Keuze2.2">Wijs af</label>
                              </div></td>
                            <td>{{gegevens[1][0]}}</td>
                            <td>{{gegevens[1][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels>=3 %}
                          <tr>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze3" type="radio" id="Keuze3.1" value="3.1" checked>
                                <label for="Keuze3.1">Accepteer</label>
                              </div>
                            </div>
                            </td>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze3" type="radio" id="Keuze3.2" value="3.0">
                                <label for="Keuze3.2">Wijs af</label>
                              </div>
                            <td>{{gegevens[2][0]}}</td>
                            <td>{{gegevens[2][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels>=4 %}
                          <tr>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze4" type="radio" id="Keuze4.1" value="4.1" checked>
                                <label for="Keuze4.1">Accepteer</label>
                              </div>
                            </div>
                            </td>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze4" type="radio" id="Keuze4.2" value="4.0">
                                <label for="Keuze4.2">Wijs af</label>
                              </div>
                            <td>{{gegevens[3][0]}}</td>
                            <td>{{gegevens[3][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels>=5 %}
                          <tr>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze5" type="radio" id="Keuze5.1" value="5.1" checked>
                                <label for="Keuze5.1">Accepteer</label>
                              </div>
                            </div>
                            </td>
                            <td><div class="col-md-4 col-sm-4">
                              <div class="circle-item">
                                <input name="Keuze5" type="radio" id="Keuze5.2" value="5.0">
                                <label for="Keuze5.2">Wijs af</label>
                              </div>
                            <td>{{gegevens[4][0]}}</td>
                            <td>{{gegevens[4][1]}}</td>
                          {% endif %}
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br/><br/>
              <div class="col-md-12">
                <button type="submit" id="form-submit" class="button">Keuze bevestigen</button>
              </div>
            </form>
            
              <form id="keuze" action="/submit" method="post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="alternate-table">
                      <table>
                        <thead>
                          <tr>
                            <th>Geaccepteerd, actor</th>
                            <th>Scheldwoord</th>
                            <th>Titel</th>
                            <th>Review</th>
                          </tr>
                        </thead>
                        <tbody>
                         
                          {% if regels2>=1 %}
                          <tr>
                            {% if gegevens2[0][4] ==0 %}
                            <td>Nee, bot</td>
                            {% endif %}
                            {% if gegevens2[0][4] ==2 %}
                            <td>Ja, {{gegevens2[0][3]}}</td>
                            {% endif %}
                            {% if gegevens2[0][4] ==3 %}
                            <td>Nee, {{gegevens2[0][3]}}</td>
                            {% endif %}
                            {% if gegevens2[0][2] != None %}
                            <td bgcolor="red">{{gegevens2[0][2]}}</td>
                            {% endif %}
                            {% if gegevens2[0][2] == None %}
                            <td>{{gegevens2[0][2]}}</td>
                            {% endif %}
                            <td>{{gegevens2[0][0]}}</td>
                            <td>{{gegevens2[0][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels2>=2 %}
                          <tr>
                            {% if gegevens2[1][4] ==0 %}
                            <td>Nee, bot</td>
                            {% endif %}
                            {% if gegevens2[1][4] ==2 %}
                            <td>Ja, {{gegevens2[1][3]}}</td>
                            {% endif %}
                            {% if gegevens2[1][4] ==3 %}
                            <td>Nee, {{gegevens2[1][3]}}</td>
                            {% endif %}
                            {% if gegevens2[1][2] != None %}
                            <td bgcolor="red">{{gegevens2[1][2]}}</td>
                            {% endif %}
                            {% if gegevens2[1][2] == None %}
                            <td>{{gegevens2[1][2]}}</td>
                            {% endif %}
                            <td>{{gegevens2[1][0]}}</td>
                            <td>{{gegevens2[1][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels2>=3 %}
                          <tr>
                            {% if gegevens2[2][4] ==0 %}
                            <td>Nee, bot</td>
                            {% endif %}
                            {% if gegevens2[2][4] ==2 %}
                            <td>Ja, {{gegevens2[2][3]}}</td>
                            {% endif %}
                            {% if gegevens2[2][4] ==3 %}
                            <td>Nee, {{gegevens2[2][3]}}</td>
                            {% endif %}
                            {% if gegevens2[2][2] != None %}
                            <td bgcolor="red">{{gegevens2[2][2]}}</td>
                            {% endif %}
                            {% if gegevens2[2][2] == None %}
                            <td>{{gegevens2[2][2]}}</td>
                            {% endif %}
                            <td>{{gegevens2[2][0]}}</td>
                            <td>{{gegevens2[2][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels2>=4 %}
                          <tr>
                            {% if gegevens2[3][4] ==0 %}
                            <td>Nee, bot</td>
                            {% endif %}
                            {% if gegevens2[3][4] ==2 %}
                            <td>Ja, {{gegevens2[3][3]}}</td>
                            {% endif %}
                            {% if gegevens2[3][4] ==3 %}
                            <td>Nee, {{gegevens2[3][3]}}</td>
                            {% endif %}
                            {% if gegevens2[3][2] != None %}
                            <td bgcolor="red">{{gegevens2[3][2]}}</td>
                            {% endif %}
                            {% if gegevens2[3][2] == None %}
                            <td>{{gegevens2[3][2]}}</td>
                            {% endif %}
                            <td>{{gegevens2[3][0]}}</td>
                            <td>{{gegevens2[3][1]}}</td>
                          </tr>
                          {% endif %}
                          {% if regels2>=5 %}
                          <tr>
                            {% if gegevens2[4][4] ==0 %}
                            <td>Nee, bot</td>
                            {% endif %}
                            {% if gegevens2[4][4] ==2 %}
                            <td>Ja, {{gegevens2[4][3]}}</td>
                            {% endif %}
                            {% if gegevens2[4][4] ==3 %}
                            <td>Nee, {{gegevens2[4][3]}}</td>
                            {% endif %}
                            {% if gegevens2[4][2] != None %}
                            <td bgcolor="red">{{gegevens2[4][2]}}</td>
                            {% endif %}
                            {% if gegevens2[4][2] == None %}
                            <td>{{gegevens2[4][2]}}</td>
                            {% endif %}
                            <td>{{gegevens2[4][0]}}</td>
                            <td>{{gegevens2[4][1]}}</td>
                          {% endif %}
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            </section>
          </div>
        </div>

      <!-- Sidebar -->
      <div id="sidebar">

        <div class="inner">
            
          <!-- Menu -->
          <nav id="menu">
            <ul>
              <li><a href="/">Reviewform</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/moderatie">Moderatiepagina</a></li>
              <li>
                <span class="opener">Statistieken</span>
                <ul>
                  <li><a href="/statistieken/woordenfiltering">Woordenfiltering</a></li>
                  <li><a href="/statistieken/gebruikers">Gebruikers</a></li>
                </ul>
              </li>
              <li>
                <span class="opener">Voorkeuren</span>
                <ul>
                  <li><a href="/voorkeuren/bot">Voorkeuren bot</a></li>
                  <li><a href="/voorkeuren/gebruikers">Voorkeuren gebruikers</a></li>
                </ul>
              </li>
              <li><a href="/twitter">Tweet display</a></li>
            </ul>
          </nav>
          </nav>
          <footer id="footer">
            <p class="copyright">&copy;Geen officiele NS site
              <br>Ingelogd als <strong>{{ naam }}</strong>
            <br><a rel="nofollow"  href="/logout">Log Uit</a></p>
          </footer>

          
        </div>
      </div>

  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>


  </body>

</html>
