<div id="load" class="load">
    {% if var2 < 3 %}
    <section class="services">
        <div class="container-fluid">
          <div class="row">
                {% for naam,titel,klacht in var1 %}
                    <div class="col-md-4">
                        <div class="service-item first-item" style="cursor: pointer; height: 450px">
                            <div class="icon"></div>
                            <h2>{{ titel }}</h2>
                            <br />
                            <h3><b>{{ naam }}:</b> {{ klacht }}</h3>
                            </p>
                        </div>
                    </div> 
                {% endfor %}
            </div>   
        </div> 
    </section>
    {% elif var2 >= 3 %}
    <iframe src="https://gadgets.buienradar.nl/gadget/zoommap/?lat=52.09083&lng=5.12222&overname=2&zoom=8&naam=Utrecht&size=3&voor=0" scrolling=no width=550 height=512 frameborder=no></iframe>
    <IFRAME SRC="//gadgets.buienradar.nl/gadget/forecastandstation/6260" NORESIZE SCROLLING=NO HSPACE=0 VSPACE=0 FRAMEBORDER=0 MARGINHEIGHT=0 MARGINWIDTH=0 WIDTH=300 HEIGHT=190></IFRAME>
    {% endif %}
</div>
