<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Twitter</title>

    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fontawesome.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/templatemo-style_twitter.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/owl.css') }}">
<script type="text/javascript">
  //<![CDATA[
    onload = function()
    {
      setTimeout
      (
        function()
        {
          alert(<iframe src="//gadgets.buienradar.nl/gadget/forecastandstation/6260/" noresize scrolling=no hspace=0 vspace=0 frameborder=0 marginheight=0 marginwidth=0 width=300 height=190 padding-top=0></iframe>)
        },
        5000
      );
    }
  //]]>
  </script>
  <script>
    function closeWindow() {
   alert("Going to close popup");
   alert(popup);
   popup.close();
  }
  </script>

{{ turbo() }}
</head>
<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">
      <div class="inner">
        <iframe src="//gadgets.buienradar.nl/gadget/forecastandstation/6260/" noresize scrolling=no hspace=0 vspace=0 frameborder=0 marginheight=0 marginwidth=0 width=300 height=190 padding-top=0></iframe>
        <iframe src="https://gadgets.buienradar.nl/gadget/zoommap/?lat=52.09083&lng=5.12222&overname=2&zoom=8&naam=utrecht&size=2&voor=1" scrolling=no width=256 height=256 frameborder=no></iframe>
        <!-- Header -->
        <header id="header">
          <div class="logo">
            <a href="/">NS-Twitterzuil</a>
            
          </div>
        </header>
        {% include "tweets.html" %}    
      </div>
    </div>       
  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>

</html>
