<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Twitter</title>

    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fontawesome.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/templatemo-style_twitter.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/owl.css') }}">

{{ turbo() }}
</head>
<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">
      <div class="inner">
        <!-- Header -->
        <header id="header">
          
          <div class="logo">
            <a href="/">Zie twitteraccount @tweet_teun voor de actuele tweets</a>
            
          </div>
        </header>
        {% include "tweets.html" %}    
      </div>
    </div>       
  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>

</html>
