<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Voorkeuren</title>

    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fontawesome.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/templatemo-style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/owl.css') }}">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="/">NS-Twitterzuil</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Voorkeuren gebruikers</h1>
                    <p>Op deze pagina kunnen er gebruikers worden toegevoegd of verwijdert.</p>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Tables -->
            <section class="tables">
              <form id="keuze" action="/submit" method="post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="alternate-table">
                      <table>
                        <thead>
                          <tr>
                            <th>Gebruikers</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for naam, status in gegevens %}
                            <tr>
                              <td>{{ naam }}</td>
                              {% if status == 0 %}
                              <td>Inactief</td>
                              {% elif status == 1 %}
                              <td>Actief</td>
                              {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br/><br/>
            </form>
            </section>
            <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>Gebruiker toevoegen</h2>
                    </div>
                    <form id="scheldwoorden" action="" method="post">
                      <div class="row">
                        <div class="col-md-6">
                          <fieldset>
                            <input name="gebruikersnaam" type="text" class="form-control" id="gebruikersnaam" placeholder="Gebruikersnaam">
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="wachtwoord" type="password" class="form-control" id="wachtwoord" placeholder="Wachtwoord">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" name="toevoegen/verwijderen" value='toevoegen' class="button">Toevoegen</button>
                          </fieldset>
                        </div>
                        
                        <div class="col-md-12">
                        <div class="section-heading">
                          <h2></h2>
                          <h2>Gebruiker verwijderen <br /></h2>
                        </div></div>
                        <div class="col-md-6">
                          <select name="category1" id="category1">
                            {% for naam, status in gegevens %}
                            <option name='naam'>{{naam}}</option>
                            {% endfor %}
                          </select>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <button type="submit" name="toevoegen/verwijderen" value='verwijderen' class="button">Verwijderen</button>
                            </fieldset>
                          </div>

                          <div class="col-md-12"s>
                            <div class="section-heading">
                              <h2></h2>
                              <h2>Status wijzigen <br /></h2>
                            </div></div>
                            <div class="col-md-6">
                              <select name="category2" id="category2">
                                {% for naam, status in gegevens %}
                                <option name='naam'>{{naam}}</option>
                                {% endfor %}
                              </select>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <button type="submit" name="toevoegen/verwijderen" value='wijzigen' class="button">Wijzigen</button>
                                </fieldset>
                              </div>
                          </div>
                        </div>
                      </form>
            </section>
          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="/">Reviewform</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/moderatie">Moderatiepagina</a></li>
                <li>
                  <span class="opener">Statistieken</span>
                  <ul>
                    <li><a href="/statistieken/woordenfiltering">Woordenfiltering</a></li>
                    <li><a href="/statistieken/gebruikers">Gebruikers</a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">Voorkeuren</span>
                  <ul>
                    <li><a href="/voorkeuren/bot">Voorkeuren bot</a></li>
                    <li><a href="/voorkeuren/gebruikers">Voorkeuren gebruikers</a></li>
                  </ul>
                </li>
                <li><a href="/twitter">Tweet display</a></li>
              </ul>
            </nav>
            <footer id="footer">
              <p class="copyright">Ingelogd als {{ naam }}
              <br><a rel="nofollow"  href="/logout">Log Uit</a></p>
            </footer>
          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>

</html>
